.header-container{
    display: flex;
    width: 100%;
    height: 15vw;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: linear-gradient(to right,#333333, #dd1818);
    text-decoration: none;
}
.header-text-container h2
{
    padding-top: 20px;
    font-size: 2vw ;
    margin-left: 40px;
}
.header-link{
    color: rgb(241, 235, 235);
    text-decoration: none;
}
.header-link:hover{
    color: rgb(158, 145, 126);
}

.list{
    display: flex;
    margin-top: auto;
    list-style-type: none;
}
.logo{
    width: 15vw;
    height: 10vw;
   
    padding-left:5vw;
}
.header-partition-1{
    width:50%;
    height:10vw;
}
.header-partition-2{
    width:50%;
    height:10vw;
}